extends ../layout/main-layout.pug
block styles 
    link(rel="StyleSheet" href="/css/form.css")
    link(rel="StyleSheet" href="/css/product.css")
block content
    main
        form.product-form(action="/admin/" + (editing ? "edit-product" : "product"), method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title", id="title", value = editing ? product.title : '')
            .form-control
                label(for="title") Image URL
                input(type="text", name="imageUrl", id="imageUrl", value = editing ? product.imageUrl : '')
            .form-control
                label(for="title") Price
                input(type="number", name="price", id="price", step="0.01", value = editing ? product.price : '')
            .form-control
                label(for="title") Description
                textarea(type="text", name="description", id="description", rows="5") #{ editing ? product.description: '' }
            input(type="hidden", name="id", value=editing ? product.id : null )
            input(type="hidden" name="_csrf" value=csrftoken)
            button(type="submit") #{editing ? 'Update Product': 'Add product'}
                