.modal-background{
    z-index:10;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
.modal{
    position: absolute;
    top: 21vh;
    left: 40vw;
    height: 24vh;
    width: 20vw;
    background: burlywood;
    z-index: 1000;
}

.modal-content{
    display: flex;
    flex-direction: column;
}

.modal-content h1{
    text-align: center;
}

.modal-content textarea{
    margin: 0 13px;
    font-family: cursive;
}

.modal-button{
    display: inline-grid;
    margin: 10px 15px;
}

.modal-button button{
    border: none;
    font-size: 17px;
    font-family: cursive;
}

.add-button{
    grid-row: 1;
    grid-column: 1;
    background: #2cd32c;
}

.cancel-button{
    grid-row: 1;
    grid-column: 5;
    background: #fb0b0b;
}

nav{
    padding: 1px;
    background: #73bbc7;
}

nav ul {
    list-style: none;
}

nav ul li{
    font-size: 40px;
    font-family: fantasy;
}

.add-todo{
    width: 100%;
    background: none;
    border: none;
    color: #a957cb;
    font-size: 25px;
    margin-bottom: 1vh;
    cursor: pointer;
}