<nav>
  <ul>
    <li>Todo List</li>
  </ul>
</nav>
<div id="background" width="40%" height="120px" style="background:rgb(152, 155, 6)">
    <ng-container #container></ng-container>
    
</div>

<div class="message board">
  <div>
    <ul>
      <li *ngFor="let message of messages">{{message}}</li>
    </ul>
  </div>
  <input #message/>
  <button (click)="sendMessage(message.value)">Send</button>
  <button (click)="addTodoElement()">Add todo List</button>
</div>

<div *ngIf="displayModal" class="modal-background">
  <div  class="modal">
    <div class="modal-content">
      <h1>Enter new Todo Item</h1>
      <textarea rows="5" cols="10" #todoItem></textarea>
      <div class="modal-button">
        <button class="add-button" (click)="onAddItem(todoItem.value)">Add Item</button>
        <button class="cancel-button" (click)="displayModal=false">Cancel</button>
      </div>
    </div>
</div>
</div>

<router-outlet></router-outlet>
