html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header
            button(id="side-menu-toggle") Menu 
            nav.main-header__nav 
                ul.main-header__item-list
                    li.main-header__item
                        a(class= { active: path == "/" }, href="/") shop
                    li.main-header__item
                        a(class= { active: path == "/products" }, href="/products") Products
                    li.main-header__item
                        a(class= { active: path == "/cart" }, href="/cart") Cart
                    li.main-header__item
                        a(class= { active: path == "/orders" }, href="/orders") Orders
                    li.main-header__item 
                        a(class = { active: path == "/admin/add-product" }, href="/admin/add-product") Add Product
                    li.main-header__item 
                        a(class = { active: path == "/admin/products" }, href="/admin/products") Admin Products
        nav.mobile-nav
            ul.mobile-nav__item-list
                li.mobile-nav__item
                    a(class= { active: path == "/" }, href="/") shop
                li.mobile-nav__item
                    a(class= { active: path == "/products" }, href="/products") Products
                li.mobile-nav__item
                    a(class= { active: path == "/cart" }, href="/cart") Cart
                li.mobile-nav__item
                    a(class= { active: path == "/orders" }, href="/orders") Orders
                li.mobile-nav__item 
                    a(class = { active: path == "/admin/add-product" }, href="/admin/add-product") Add Product
                li.mobile-nav__item 
                    a(class = { active: path == "/admin/products" }, href="/admin/products") Admin Products
</nav>
        block content