extends ../layout/main-layout.pug

block styles 
    link(rel="StyleSheet" href="/css/orders.css")

block content 
    main
        if orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item 
                     h1 OrderId - ##{order.id} 
                     ul.orders__products 
                        each product in order.Products
                            li.orders__products-item #{product.title} (#{product.orderItem.quantity}) 
        else
            h1 Nothing there!