<html>
<head>
    <title> Assignement 3 </title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to Assignment 3</h1>
    </main>
</body>
</html>