extends ../layout/main-layout.pug
block styles 
    link(rel="StyleSheet" href="/css/form.css")
    link(rel="StyleSheet" href="/css/auth.css")
block content
    main
        if errorMessage
            div.user-message.user-message--error #{errorMessage}

        form.login-form(action="/login", method="POST")
            .form-control
                label(for="email") E-Mail
                input(type="email", name="email", id="email")
            .form-control
                label(for="password") Password
                input(type="password", name="password", id="password")
            input(type="hidden" name="_csrf" value=csrftoken)
            button(class="btn", type="submit") Login
                