.b-menu
{
    padding: 10px;
}
.navbar
{
    padding: 10px;
    padding-left: 20px;
    width: 40%;
    background-color: black;
    float:left;
    border-radius:20px;
}

.title{
    font-size: x-large;
    margin-top: -3px;
}